/* global */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  color: #333;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

/* navbar */
.navbar {
  background-color: #ffffff !important;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.navbar-brand img {
  height: 55px;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
}

/* hero section */
.hero-section {
  background-image: linear-gradient(
      rgba(48, 94, 180, 0.363),
      rgba(0, 0, 0, 0.082)
    ),
    url('/assets/imgs/hero-1.jpeg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
  text-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

.hero-text p {
  font-size: 1.25rem;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

/* about section */
#about {
  padding: 80px 0;
}

#about img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

#about h2 {
  color: #b71d1d;
  font-size: 2rem;
  margin-bottom: 15px;
}

#about p {
  font-size: 1.05rem;
  line-height: 1.6;
}

/* products section */
#products {
  padding: 80px 0;
}
#products h2 {
  color: #b71d1d;
  font-size: 2.4rem;
  margin-bottom: 20px;
  font-weight: 600;
}

/* carousel section */
#featuredKit {
  background: linear-gradient(135deg, rgba(214, 40, 40, 0.08) 0%, rgba(75, 138, 222, 0.08) 100%);
  padding: 10px 40px 55px 40px;
  border-radius: 30px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

#cSeriesHeader h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.carousel-inner img {
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.carousel-item {
  position: relative;
  overflow: hidden;
}

.carousel-caption {
  bottom: -60px;
  left: 0;
  right: 0;
  pointer-events: auto;
}

.carousel-caption .caption-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  pointer-events: auto;
}

.carousel-caption h5 {
  color: #f8f8f8;
  text-shadow: 0 8px 20px rgb(0, 0, 0);
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
}

.carousel-caption a.btn {
  z-index: 999 !important;
  pointer-events: auto !important;
}

/* card */
.card {
  background: linear-gradient(135deg, rgba(214, 40, 40, 0.08) 0%, rgba(75, 138, 222, 0.08) 100%);
  border: none;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 18px rgba(0,0,0,0.15);
}

.card img {
  border-bottom: 1px solid #eee;
}

.card-title {
  font-weight: 600;
}

/* btns */
.btn-danger {
  background-color: #d62828;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
}

.btn-danger:hover {
  background-color: #b71d1d;
}

.btn-primary {
  background-color: #004b8d;
  border: none;
}

.btn-primary:hover {
  background-color: #003564;
}

/* footer */
footer {
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  margin-top: -10px;
  padding-top: 20px;
}

/* -------- car pages -------- */
/* car page | general */
.car-page .btn-danger {
  font-weight: 600;
}

/* car page | hero */
.car-page #car-hero {
  padding-top: 10px;
  padding-bottom: 60px;
}

.car-page .product-main-img img {
  width: 100%;
  height: auto;
  min-height: 155px;
  object-fit: cover;
}

.car-page .product-title {
  font-size: 2rem;
  position: relative;
}

.car-page #carPageThumb {
  max-width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: .25s ease;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.car-page #carPageThumb:hover {
  transform: scale(1.12);
  box-shadow: 0 4px 14px rgba(0,0,0,0.25);
}

/* car page | body content */
.car-page .body-content{
  background: linear-gradient(135deg, rgba(214, 40, 40, 0.08) 0%, rgba(75, 138, 222, 0.08) 100%);
  padding: 5px 0;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.car-page .body-content h2 {
  color: #b71d1d;
  font-size: 2.4rem;
  padding-bottom: 1rem;
  font-weight: 600;
}
/* 
car page | product details */
.car-page #productDetails {
  padding: 1rem 0 1rem 0;
}

.car-page #productCards .border {
  border: none;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 24px;
  transition: .25s ease;
}

.car-page #productCards .border:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.car-page #productCards h5::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #b71d1d;
  margin: 10px 0;
}

/* car page | related products */
.car-page #relatedProducts {
  padding: 1rem 0 2rem 0;
}

.car-page .card {
  border: 1px solid #ddd;
  border-radius: 16px ;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.car-page .card p {
  font-weight: 700;
  color: #b71d1d;
}

.car-page .card-body {
  background: linear-gradient(180deg, rgba(248, 248, 248, 0.87) 0%, rgba(124, 0, 17, 0.062) 70%);
  padding: 20px;
}

/* responsive */

@media (max-width: 1200px) { /* large desktop */
  .car-page #carPageThumb {
    width: auto;
    max-width: 110px;
    height: 70px;
  }
}

@media (max-width: 1025px) {/* laptop */
  .car-page .product-title {
    font-size: 1.8rem;
  }

  .car-page .carPageThumb {
    max-width: 120px;
    height: 80px;
  }

  .car-page #heroDetails p {
    font-size: 0.95rem;
  }
}

@media (max-width: 992px) { /* small desktop */
  .hero-section {
    height: 50vh;
  }

  .car-page #carPageThumb {
    width: auto;
    max-width: 90px;
    height: 50px;
  }
}

@media (max-width: 769px) { /* tablet */
  .car-page #car-hero {
    padding-bottom: 40px;
  }

  .car-page .product-title {
    font-size: 1.6rem;
  }

  .car-page .carPageThumb {
    max-width: 100px;
    height: 65px;
  }

  .car-page #heroDetails ul {
    padding-left: 0;
  }
}


@media (max-width: 576px) { /* mobile */
  /* index | hero */
  .hero-section {
    height: 30vh;
  }

  /* car page | hero & body content */
  .car-page #car-hero, .car-page .body-content {
    padding: 0 15px;
  }

  /* car page | product images */
  .car-page #car-hero #productImages {
    margin-top: 0;
    padding: 1rem 1rem 0.5rem 1rem;
  }

  .car-page #car-hero .product-main-img img {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
    border-radius: 12px;
  }

  .car-page #carPageThumb {
    width: auto;
    max-width: 100px;
    height: 60px;
  }

  /* car page | hero details */
  .car-page #heroDetails {
    margin: 0;
    text-align: center; 
  }

  /* car page | hero details | title & price */
  .car-page #productDetails {
    padding: 0.25rem 0 0.25rem 0;
  }

  /* put title and price on the same line */
  .car-page #heroDetails .product-title,
  .car-page #heroDetails h4 {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 0;
  }

  .car-page #heroDetails #productPrice {
    margin: 0 10px;
  }

  /* car page | | hero details | description */
  .car-page #car-hero p {
    font-size: 0.95rem;
    text-align: center;
    margin: 0;
  }

  /* car page | hero details | list */
  .car-page #car-hero ul {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .car-page #car-hero ul li {
    margin: 0;
    font-size: 0.95rem;
    line-height: 1.4;
  }

  /* car page | body content | product details */
  .car-page .body-content h2 {
    padding-bottom: 0;
  }

  /* car page | body content | product cards */
  .car-page #productCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* two columns */
    justify-items: center;
  }

  .car-page #productCards .col-md-4:last-child {
    grid-column: 1 / -1; /* spans entire row */
    max-width: 100%;
  }

  .car-page #productCards .col-md-4 {
    flex: unset; 
    width: 100%;
  }

  /* car page | related products */
  /* product cards stay in a row */
  .car-page #relatedProducts .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    gap: 0.25rem;
    justify-content: space-between;
  }

  .car-page #relatedProducts .col-md-4 {
    flex: 1 1 auto; /* allow cards to shrink to fit */
    max-width: 33%;
  }

  .car-page #relatedProducts .card {
    width: 100%;
    overflow: hidden;
  }

  /* car page | related products | card content */
  .car-page #relatedProducts .card-img-top {
    width: 100%;
    height: auto;
  }

  .car-page #relatedProducts .card-body{
    padding: 6px;
  }

  .car-page #relatedProducts .card-body .btn-danger{
    padding: 6px 6px;
  }
}

@media (max-width: 376px) {
  /* car page | hero details | list */
  .car-page #car-hero ul{
    flex-wrap: wrap;
  }

  .car-page #relatedProducts .col-md-4 {
    max-width: 33;
  }

  /* car page | related products | card content */
  .car-page #relatedProducts .card-body{
    padding: 7px;
  }

  .car-page #relatedProducts .card-title{
    font-size: 13px;
    flex-wrap: wrap;
  }
}

 @media (max-width: 327px){ /*smallest screen */
  /* car page | hero details | list */
  .car-page #car-hero ul{
    flex-wrap: wrap;
  }

  /* car page | related products */
  .car-page #relatedProducts .row{
    gap: 0;
  }

  .car-page #relatedProducts h2{
    font-size: 2.3rem;
  }

  /* car page | related products | card content */
  .car-page #relatedProducts .card-body{
    padding: 7px;
  }

  .car-page #relatedProducts .card-title{
    font-size: 11px;
    flex-wrap: wrap;
    margin: 0 0 5px 0;
  }

  .car-page #relatedProducts .card-text{
    font-size: 11px;
    margin: 0 0 5px 0;
  }

  .car-page #relatedProducts a {
    font-size: 13px;
  }
}